# Database
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET=5880c4c3b47157b868aba5d296c308da44a6da63d86825e184d7c91e9ee2c35433bce94c12521a49be681d9e1289c49e

# Admin credentials (will be seeded)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminsetect2026

# SMTP Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-gmail@gmail.com
SMTP_PASS=slpbtaotooqxcwgw
SMTP_FROM="SETECT Events <your-gmail@gmail.com>"
ADMIN_NOTIFY_EMAIL=tp.issom@setect.com

# App
CLIENT_URL=http://localhost:5173
PORT=3001

# Event info
EVENT_DATE=18 Juin 2026
EVENT_TIME=15h - 21h
EVENT_LIEU=Elite Offices, Akwa - Douala
