# Database
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET=5880c4c3b47157b868aba5d296c308da44a6da63d86825e184d7c91e9ee2c35433bce94c12521a49be681d9e1289c49e

# Admin credentials (will be seeded)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminsetect2026

# SMTP cPanel (SETECT)
SMTP_HOST=mail.setect.com
SMTP_PORT=465
SMTP_USER=marketing@setect.com
SMTP_PASS='MySETmkt#20?6'
SMTP_FROM="MARKETING SETECT <marketing@setect.com>"
ADMIN_NOTIFY_EMAIL=marketing@setect.com

# App
CLIENT_URL=http://rsvp.setect.com
PORT=3001

# Event info
EVENT_DATE=18 Juin 2026
EVENT_TIME=15h - 21h
EVENT_LIEU=Table De L'Elite, Akwa - Douala
